<!DOCTYPE html>
<html lang="en">
    <head>
    
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Swift Storage">
        <meta name="author" content="Bala Ramanadham">

        <!-- Bootstrap Core CSS -->
        <link href="/static/add-ons/css/bootstrap.min.css" rel="stylesheet">
    
        <!-- Custom CSS -->
        <link href="/static/add-ons/css/modern-business.css" rel="stylesheet">
    
        <!-- Custom Fonts -->
        <link href="/static/add-ons/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- jQuery -->
        <script src="/static/add-ons/js/jquery.js"></script>
    
        <!-- Bootstrap Core JavaScript -->
        <script src="/static/add-ons/js/bootstrap.min.js"></script>
        
        <style>
            .footer {
                background-color: #222;
                border-color: #080808;
                color: #d3d3d3;
                height: 50px;
                margin-top: 10px;
                margin-bottom: 0px;
            }
            .footerdata {
                text-align: center;
            }
        </style>


        <title> {% block title %}{% endblock %} </title>

    </head>
    
    <body>

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/Home/">Aptira</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">

                    {% ifequal page "Login" %}
                        <li class=active>
                    {% else %}
                        <li>
                    {% endifequal %}
                            <a href="/Login/">Login</a>
                        </li>

                    {% ifequal page "NewFile" %}
                        <li class=active>
                    {% else %}
                        <li>
                    {% endifequal %}
                            <a href="/NewFile/">Upload File</a>
                        </li>

                    {% ifequal page "Logout" %}
                        <li class=active>
                    {% else %}
                        <li>
                    {% endifequal %}
                            <a href="/Logout/">Log Out</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>

        {% block mainContent %}{% endblock %}

        <!-- Footer -->
        <footer class=footer>
            <div class=footerdata>
                <br>Privacy Policy. © 2015 Aptira.
            </div>
        </footer>
    </body>
</html>
